<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Storage tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_TOBENTO_STORAGE_PDO_MYSQL" value="false" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MYSQL_DSN" value="mysql:host=localhost;dbname=tobento_storage_test;charset=utf8mb4" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MYSQL_USERNAME" value="root" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MYSQL_PASSWORD" value="" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MARIADB" value="false" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MARIADB_DSN" value="mysql:host=localhost;dbname=tobento_storage_test;charset=utf8mb4" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MARIADB_USERNAME" value="root" />
        <env name="TEST_TOBENTO_STORAGE_PDO_MARIADB_PASSWORD" value="" />        
    </php>
</phpunit>